body {
  margin: 0;
  font-family: "Spoqa Han Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

.service-wrapper-active-menu::after {
  opacity: 1 !important;
}

.canvasjs-chart-credit {
  display: none;
}
